@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.page {
  font-family: Rubik, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/*typography*/

.main-title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

/*buttons*/

.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  position: relative;
  padding: 10px;
  text-align: center;
  display: inline-block;
  border: none;
}

.button::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 8px;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffe17f;
  z-index: -1;
}

.button:hover::before {
  height: 100%;
}

.button:focus {
  outline: 2px solid #af4fff;
}

.button:active {
  outline: none;
}

.button:active::before {
  height: 100%;
  background-color: #ffc700;
}

.button--disabled {
  pointer-events: none;
  opacity: 0.3;
}

/*container*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
  padding-left: 60px;
  padding-right: 60px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;
}

/*HEADER*/

.header {
  width: 1280px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
}

.header__index .main-nav{
  padding-bottom: 0;
}

.logo {
  opacity: 1;
}

.logo:hover {
  opacity: 0.6;
}

.logo:focus {
  opacity: 1;
  outline: 2px solid #af4fff;
}

.logo:active {
  outline: none;
  opacity: 0.3;
}

.header__logo {
  position: absolute;
  top: -20px;
  color: #000000;
}

/*main-nav*/

.main-nav {
  background: #ffe17f;
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
}

.main-nav__wrapper {
  display: flex;
  margin-bottom: 30px;
  padding-top: 45px;
  gap: 25px;
}

/*search*/

.search {
  position: relative;
  display: flex;
  align-items: center;
}

.search__wrapper--input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  background-image: url("../image/icons/search.svg");
  display: block;
  width: 16px;
  height: 16px;
}

.search__input {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border: 2px solid #000000;
  background-color: transparent;
  padding: 8px 0 8px 46px;
  border-radius: 50px 0 0 50px;
  position: relative;
  margin: 0;
  width: 358px;
}

.search__input:focus {
  outline: none;
}

.search__wrapper--input:focus-within {
  box-shadow: 0 0 0 2px #ffe17f,
  0 0 0 4px #af4fff;
}

.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration,
.search__input::-webkit-search-results-decoration,
.search__input::-webkit-search-results-button{
  display: none;
}

.search__wrapper--disabled {
  opacity: 0.3;
  pointer-events: none;
}

.search__button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-left: none;
  background-color: transparent;
  padding: 8px 56px;
  border-radius: 0 50px 50px 0;
  margin: 0;
  cursor: pointer;
}

.search__wrapper--button:focus-within {
  box-shadow: 0 0 0 2px #ffe17f,
              0 0 0 4px #af4fff;
}

.search__button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

/*user-nav*/

.user-nav {
  list-style-type: none;
  display: flex;
  flex-grow: 1;
  justify-content: start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  z-index: 20;
}

.js-logouted .user-nav__item--enter {
  display: none;
}

.user-nav__link {
  color: #000000;
  text-decoration: none;
}

.user-nav__link--cart {
  padding-left: 15px;
}

.user-nav__link:hover {
  opacity: 0.6;
}

.user-nav__link:focus {
  box-shadow: 0 0 0 2px #ffe17f,
              0 0 0 4px #af4fff;
  opacity: 1;
  outline: none;
}

.user-nav__link:active {
  box-shadow: none;
  opacity: 0.3;
}

.user-nav__icon {
  margin-right: 8px;
}

.user-nav__link--logined {
  opacity: 0.3;
}

.user-nav__count {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  background-color: #ffffff;
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  text-align: center;
  padding-top: 2px;
}

.user-nav__item--pc {
  margin-right: 28px;
}

.user-nav__item--cart {
  position: relative;
}

.user-nav__item--cart:focus-within .popover {
  display: flex;
}

.user-nav__item--compare {
  margin-left: auto;
  margin-right: 20px;
}

.user-nav__popover {
  position: absolute;
  top: 36px;
  left: -141px;
}

.popover {
  display: none;
  flex-direction: column;
  background-color: #000000;
  color: #ffffff;
  width: 320px;
}

.popover::after {
  content: '';
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%);
  border-top: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 6px solid black;
}

.popover__product-list {
  list-style: none;
  padding-left: 0;
}

.popover__product-item {
  padding: 20px;
  display: flex;
  gap: 25px;
 }

.popover__product-link {
  display: flex;
  gap: 23px;
  color: inherit;
  text-decoration: none;
  position: relative;
}

.popover__product-link:hover {
  opacity: 0.6;
}

.popover__product-link:focus {
  opacity: 1;
  outline: none;
  box-shadow: 0 0 0 2px #000000,
              0 0 0 4px #af4fff;
}

.popover__product-link:active {
  opacity: 0.6;
  box-shadow: none;
}

.popover__product-text {
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
}

.popover__product-delete {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0;
  display: flex;
  align-self: start;
}

.popover__product-delete:hover {
  opacity: 0.6;
}

.popover__product-delete:focus {
  opacity: 1;
  outline: none;
  box-shadow: 0 0 0 2px #000000,
              0 0 0 4px #af4fff;
}

.popover__product-delete:active {
  opacity: 0.3;
  box-shadow: none;
}

.popover__total {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: #1a1a1a;
}

.popover__row {
  padding: 20px;
  background-color: #000000;
}

.popover__button {
  padding: 15px 20px;
  background-color: #ffffff;
  color: #000000;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.popover__button:hover {
  background-color: #ffe17f;
}

.popover__button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #000000,
              0 0 0 4px #af4fff;
}

.popover__button:active {
  box-shadow: none;
  color: rgba(0, 0, 0, 0.3);
}

.popover__button--disabled {
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

/*site-nav*/

.site-nav {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: 0;
  gap: 45px;
}

.site-nav__item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-nav__item--catalog {
  margin-right: auto;
  position: relative;
}

.site-nav__item--catalog:focus-within .submenu{
  display: grid;
}

.site-nav__item--catalog:focus-within {
  opacity: 1;
  outline: none;
  box-shadow: 0 0 0 2px #ffe17f,
              0 0 0 4px #af4fff;
}

.site-nav__link {
  font-family: 'Raleway', Verdana, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  display: block;
  z-index: 10;
  position: relative;
}

.site-nav__link:hover {
  opacity: 0.6;
}

.site-nav__link:focus {
  opacity: 1;
  outline: none;
  box-shadow: 0 0 0 2px #ffe17f,
              0 0 0 4px #af4fff;
}

.site-nav__link:active {
  opacity: 0.3;
  box-shadow: none;
}

.site-nav__link--catalog {
  padding-right: 65px;
}

.site-nav__link--catalog:hover {
  padding-right: 65px;
  opacity: 1;
}

.site-nav__link--catalog:hover .site-nav__icon {
  opacity: 1;
}

.site-nav__item--catalog:focus-within .site-nav__icon {
  opacity: 1;
}

.site-nav__item--catalog:focus-within .site-nav__icon--minus {
  display: block;
}

.site-nav__item--catalog:focus-within .site-nav__icon--plus {
  display: none;
}

.site-nav__link--catalog:focus {
  box-shadow: none;
}

.site-nav__icon {
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
  position: absolute;
  top: -15px;
  right: 0;
  z-index: 10;
}

.site-nav__icon--minus {
  display: none;
}

.site-nav__icon--plus {
  display: block;
}

.site-nav__link--active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #000000;
}

.site-nav__link--active:focus {
  box-shadow: 0 2px 0 4px #ffe17f,
  0 2px 0 6px #af4fff;
}
/*submenu*/

.submenu {
  padding: 0 60px 30px;
  list-style-type: none;
  display: none;
  position: absolute;
  left: -60px;
  top: 65px;
  width: 1160px;
  justify-content: start;
  grid-template-rows: repeat(3, min-content);
  column-gap: 55px;
  row-gap: 18px;
  grid-template-areas:  "submenu__item--1 submenu__item--4 submenu__item--6"
                        "submenu__item--2 submenu__item--5 blank-3"
                        "submenu__item--3 blank-1 blank-2 ";
  grid-auto-flow: column;
  z-index: 9;
  min-height: 150px;
  background-color: #ffe17f;
}

.submenu__link {
  display: block;
}

.submenu__item--1 {
  grid-area: submenu__item--1;
}

.submenu__item--2 {
  grid-area: submenu__item--2;
}

.submenu__item--3 {
  grid-area: submenu__item--3;
}

.submenu__item--4 {
  grid-area: submenu__item--4;
}

.submenu__item--5 {
  grid-area: submenu__item--5;
}

.submenu__item--6 {
  grid-area: submenu__item--6;
}

.submenu__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  position: relative;
}

.submenu__link:hover {
  opacity: 0.6;
}

.submenu__link:focus {
  opacity: 1;
  outline: none;
  box-shadow: 0 0 0 2px #ffe17f,
              0 0 0 4px #af4fff;
}

.submenu__link:active {
  opacity: 0.3;
  box-shadow: none;
}

.submenu__link--active::before {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #000000;
  bottom: 0;
}

/*FOOTER*/

.footer {
  background: #444444;
  padding-top: 62px;
  padding-bottom: 62px;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: min-content min-content min-content;
  row-gap: 30px;
}

.footer__wrapper::after {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: center;
  margin-top: 18px;
}

.footer__logo {
  grid-column: 1/2;
  width: min-content;
  color: #ffc700;
}

.logo__img {
  display: block;
}

.footer__address {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-style: normal;
  grid-row: 2/3;
  padding-top: 5px;
}

.footer-nav {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-left: 0;
  display: flex;
  gap: 35px;
  justify-self: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
}

.footer-nav__link {
  font-family: 'Raleway', Verdana, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.footer-nav__link:hover {
  color: #ffc700;
}

.footer-nav__link:hover::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -4px;
  background-color: #ffc700;
}

.footer-nav__link:focus {
  outline: none;
  box-shadow: 0 0 0 2px #444444,
              0 0 0 4px #af4fff;
}

.footer-nav__link:active {
  opacity: 0.3;
  box-shadow: none;
}

.footer__phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: end;
  align-self: center;
}

.footer__phone:hover {
  color: #ffc700;
}

.footer__phone:focus {
  outline: none;
  box-shadow: 0 0 0 2px #444444,
              0 0 0 4px #af4fff;
}

.footer__phone:active {
  box-shadow: none;
  opacity: 0.3;
}

/*social*/

.social {
  grid-column: 2/3;
  grid-row: 3/4;
  padding-left: 0;
  display: flex;
  justify-self: center;
  gap: 15px;
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 0;
}

.social__link {
  background: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  color: #444444;
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  border-radius: 50%;
}

.social__link:hover {
  background-color: #ffc700;
}

.social__link:focus {
  outline: none;
}

.social__link:focus::before {
  content: "";
  display: block;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 2px #af4fff;
}

.social__link:active::before {
  box-shadow: none;
}

.social__link:active  {
  color: rgba(68, 68, 68, 0.3);
}

.social__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*copyright*/

.copyright {
  grid-column: 3/4;
  grid-row: 3/4;
  justify-self: end;
  align-self: center;
  margin-top: 20px;
  color: #ffc700;
}

.copyright:hover {
  color: #ffffff;
}

.copyright:focus {
  outline: none;
  box-shadow: 0 0 0 2px #444444,
              0 0 0 4px #af4fff;
}

.copyright:active {
  box-shadow: none;
  opacity: 0.3;
}

.copyright__img {
  display: block;
}

/*INDEX*/

/*main*/

.main {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

/*hero*/

.hero {
  position: relative;
  margin-top: -20px;
}

/*slider*/

.slider {
  list-style-type: none;
  counter-reset: li;
  padding-left: 0;
  overflow: hidden;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.slider__item {
  padding-top: 0;
  counter-increment: li;
  width: 1160px;
  position: relative;
  grid-template-rows: 150px min-content min-content min-content min-content min-content;
  background: linear-gradient(to bottom, transparent 20px, #ffe17f 20px, #ffe17f 150px, transparent 150px);
}

.slider__item--current {
  order: -1;
}

.slider__item::before {
  display: block;
  font-family: inherit;
  content: "0"counter(li);
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  grid-column: 5/7;
  justify-self: end;
  padding-right: 50px;
  padding-top: 82px;
}

.slider__img {
  grid-column: 1/4;
  grid-row: 1/-1;
}

.slider__title {
  grid-column: 4/-1;
  margin-top: -28px;
  margin-bottom: 10px;
}

.slider__description {
  grid-column: 4/-1;
  margin-bottom: 50px;
}

.slider__button {
  margin-bottom: 50px;
  min-width: 220px;

}

.slider__features-list {
  grid-column: 4/-1;
  margin-top: 0;
  margin-bottom: 38px;
}

.slider__arrow {
  position: absolute;
  top: 207px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #000000;
}

.slider__arrow:hover {
  opacity: 0.6;
}

.slider__arrow:focus {
  outline: none;
  opacity: 1;
  box-shadow: 0 0 0 2px #af4fff;
}

.slider__arrow:active {
  opacity: 0.3;
  box-shadow: none;
}

.slider__arrow:disabled {
  opacity: 0.1;
}

.slider__arrow--back {
  left: 85px;
}

.slider__arrow--forward {
  left: 595px;
}

.slider__dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.features-list {
  display: grid;
  grid-template-columns: minmax(120px, 160px) minmax(120px, 160px);
  row-gap: 10px;
}

.features-list__value {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  grid-row: 1/2;
}

.features-list__definition {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  grid-row: 2/3;
  margin-left: 0;
}

.dots {
  display: flex;
  gap: 20px;
}

.dots__item {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #000000;
  padding: 0;
  position: relative;
}

.dots__item:hover {
  opacity: 0.6;
}

.dots__item:focus {
  outline: none;
}

.dots__item:focus::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 1;
  outline: none;
  border-radius: 0;
  box-shadow: 0 0 0 2px #af4fff;
}

.dots__item:active {
  opacity: 0.3;
  box-shadow: none;
}

.dots__item:disabled {
  opacity: 0.1;
}

.dots__item--current {
  background-color: #000000;
}

/*categories*/

.categories__list {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.categories__link {
  display: block;
  font-family: 'Raleway', Verdana, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.categories__link::before {
  content: "";
  display: block;
  height: 160px;
  background-color: #ffe17f;
  margin-bottom: 32px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.categories__link--vr::before {
  background-image: url(../image/common/vr.svg);
}

.categories__link--monopods::before {
  background-image: url(../image/common/monopod.svg);
  background-position-y: 100%;
}

.categories__link--action-cameras::before {
  background-image: url(../image/common/action-camera.svg);
}

.categories__link--fitnes-braslets::before {
  background-image: url(../image/common/fitnes-braslet.svg);
}

.categories__link--smart-watches::before {
  background-image: url(../image/common/smart-watch.svg);
}

.categories__link--smart-quadrocopters::before {
  background-image: url(../image/common/quadrocopter.svg);
}

/*services*/

.services {
  background: linear-gradient(to bottom, transparent 115px, #f0f0f0 115px);
  padding-bottom: 75px;
}

.services__list {
  margin-top: 12px;
  margin-bottom: 0;
  row-gap: 35px;
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
  padding-right: 65px;
}

.services__list::before {
  content: "";
  display: block;
  width: 7px;
  height: 100%;
  position: absolute;
  left: 340px;
  background-color: #000000;
}

.services__term {
  font-family: 'Raleway', Verdana, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  grid-column: 1/2;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  text-align: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.services__term::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 8px;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffe17f;
  z-index: -1;
}

.services__term:hover::before {
  height: 100%;
}

.services__term:focus:before {
  height: 8px;
}

.services__term:focus {
  outline: 2px solid #af4fff;
}

.services__term:active {
  outline: none;
}

.services__term:active:before {
  height: 100%;
  background-color: #ffc700;
}

.services__term--current {
  color: #ffe17f;
  position: relative;
  z-index: 1;
}

.services__term--current::before {
  content: "";
  display: block;
  background-color: #000000;
  width: 280px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transform: translate(0, 0);
}

.services__term--current:hover {
  padding-left: 25px;
}

.services__term--current:focus {
  outline: none;
}

.services__term--current:focus:before {
  background-color: #000000;
  width: 280px;
  height: 100%;
  outline: none;
  box-shadow: 0 0 0 2px #ffffff,
              0 0 0 4px #af4fff;
}

.services__term--current:active {
  padding-left: 25px;
}

.services__term--current:active:before {
  background-color: #000000;
}

.services__definition {
  display: none;
  grid-template-columns: 475px 1fr;
  position: relative;
  grid-column: 3/7;
  grid-row: 1/4;
  margin-left: 0;
  padding-top: 8px;
}

.services__definition::after {
  content: "";
  display: block;
  width: 200px;
  grid-column: 2/3;
  grid-row: 1/3;
  background-repeat: no-repeat;
  justify-self: right;
  background-position: 90% 20%;
}

.services__definition--delivery::after {
  background-image: url(../image/common/delivery.svg);
}

.services__definition--guarantee::after {
  background-image: url(../image/common/guarantee.svg);
}

.services__definition--credit::after {
  background-image: url(../image/common/credit.svg);
}

.services__term--current + .services__definition {
  display: grid;
}

.services__title {
  margin-top: 0;
  margin-bottom: 24px;
  grid-column: 1/2;
}

.services__description {
  margin-top: 0;
  margin-bottom: 0;
  grid-column: 1/2;
}

/*delivery*/

.delivery__button {
  display: grid;
  grid-template-columns: 125px 1fr 125px;
  font-family: 'Raleway', Verdana, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  grid-column: 1/7;
  padding: 0;
  align-items: center;
  min-height: 100px;
  border: none;
  cursor: pointer;
}

.delivery__button::before {
  content: "";
  display: block;
  background-color: #ffe17f;
  height: 100%;
  background-image: url(../image/common/car.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.delivery__info {
  display: flex;
  background-color: rgba(220, 220, 220, 0.5);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  justify-self: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.delivery__icon {
  opacity: 0.3;
}

.delivery__button:hover::before {
  background-color: #ffc700;
}

.delivery__button:hover .delivery__icon{
  opacity: 1;
}

.delivery__button:focus{
  outline: none;
  box-shadow: 0 0 0 2px #ffffff,
              0 0 0 4px #af4fff;
}

.delivery__button:active {
  opacity: 0.3;
  box-shadow: none;
}

/*about*/

.about {
  grid-column: 1/4;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  display: block;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about__title {
  margin-top: 47px;
  margin-bottom: 48px;
}

.about__text {
  margin-top: 0;
  margin-bottom: 30px;
}

.about__list {
  padding-left: 18px;
  margin-bottom: 30px;
}

.about__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 19px;
  padding-left: 20px;
}

.about__item::marker {
  color: #ffe17f;
}

.about__button {
  min-width: 270px;
}

/*contacts*/

.contacts {
  grid-column: 4/7;
  position: relative;
  padding-left: 30px;
}

.contacts::before {
  content: "";
  position: absolute;
  display: block;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.contacts__title {
  margin-top: 47px;
  margin-bottom: 48px;
}

.contacts__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin-top: 0;
  margin-bottom: 15px;
}

.contacts__text {
  margin-top: 0;
  margin-bottom: 30px;
}

.contacts__text--address {
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.contacts__text--phone {
  margin-top: 0;
  color: #444444;
  display: block;
}

.contacts__button {
  min-width: 260px;
}

/*subscribe*/

.subscribe {
  background-color: #f0f0f0;
  padding-top: 62px;
  padding-bottom: 56px;
}

.subscribe__title {
  margin-top: 0;
  margin-bottom: 0;
  grid-column: 1/3;
  padding-left: 10px;
}

.subscribe__description {
  margin-top: 8px;
  margin-bottom: 0;
  grid-column: 4/7;
  padding-left: 8px;
}

.subscribe__form {
  grid-column: 1/7;
  display: flex;
  align-items: center;
  margin-top: 142px;
}

.subscribe__input {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  width: 557px;
  background-color: inherit;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #c4c4c4;
  padding: 13px 16px;
}

.subscribe__input::placeholder {
  opacity: 0.5;
}

.subscribe__input:focus {
  background-color: #dcdcdc;
  outline: none;
}

.subscribe__input:invalid {
  border-bottom: 3px solid #ff3d3d;
}

.subscribe__input:placeholder-shown {
  border-bottom: 3px solid #c4c4c4;
}

.subscribe__input:disabled {
  opacity: 0.3;
}

.subscribe__button {
  font-family: 'Raleway', Verdana, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding: 16px 35px;
  border: 3px solid #c4c4c4;
  cursor: pointer;
}

.subscribe__button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 3px solid #000000;
}

.subscribe__button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff,
              0 0 0 4px #af4fff;
}

.subscribe__button:active {
  outline: none;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe__button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.subscribe__caption {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}

.subscribe__caption::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../image/icons/tick.svg);

}

/*CATALOG*/

.main--catalog {
  gap: 0;
}

.main__title {
  padding-left: 120px;
  margin-top: 35px;
  margin-bottom: 10px;
}

/*breadcrumbs*/

.breadcrumbs {
  list-style-type: none;
  padding-left: 120px;
  display: flex;
  gap: 36px;
  margin-bottom: 36px;
  margin-top: 6px;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item::after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  right: -21px;
  width: 4px;
  height: 7px;
  opacity: 0.2;
  background-image: url("../image/icons/bradcrumps-separator.svg");
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  position: relative;
  display: block;

}

.breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__link:focus {
  opacity: 1;
  outline: 2px solid #af4fff;
}

.breadcrumbs__link:active {
  opacity: 0.3;
  outline: none;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.catalog__wrapper {
  background-color: #f0f0f0;
}

.catalog__container {
  display: grid;
  grid-template-columns: 320px 1fr;
}

/*filter*/

.filter {
  background-color: #f0f0f0;
  grid-column: 1/2;
  grid-row: 1/3;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 40px;
}

.filter__form {
  margin-top: 70px;

  display: flex;
  flex-direction: column;
  gap: 35px;
}

.filter__title {
  font-family: 'Raleway', Verdana, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 25px;
}

.filter__fieldset {
  border: none;
  padding: 0;
  position: relative;
  margin-bottom: 5px;
}

.filter-bluetooth {
  margin-bottom: 3px;
}

.filter__fieldset::before {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 198px;
  background-color: #000000;
  top: -32px;
  left: 0;
}

.filter__caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  padding-left: 0;
  padding-top: 2px;
}

.filter__label--price,
.filter__input--price{
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.filter__label--price {
  color: rgba(0, 0, 0, 0.3);
  width: min-content;
  margin-right: 28px;
  position: relative;
}

.filter__input--price {
  opacity: 0.3;
}

.filter__input--price:focus {
  outline: none;
}

.filter__label--price:focus-within {
  outline: none;
}

.filter__label--price:focus-within::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  box-shadow: 0 0 0 2px #af4fff;
}

.filter__text-label {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.filter__wrapper {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-top: 20px;
}

.filter__button {
  z-index: 2;
}

/*filter-range*/

.filter__range {
  position: relative;
  height: 2px;
  background-color: #dcdcdc;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 5px;
}

.filter__range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.filter__range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.filter__range-toggle:hover {
  opacity: 0.5;
}

.filter__range-toggle:focus {
  opacity: 1;
  outline: none;
}

.filter__range-toggle:focus::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 2px #af4fff;
}

.filter__range-toggle:active {
  opacity: 1;
  background-color: #000000;
}

.filter__range-toggle--min {
  top: -7px;
  left: -15px;
}

.filter__range-toggle--max {
  top: -7px;
  right: -12px;
}

.filter__label {
  padding: 0;
  font: inherit;
  background-color: transparent;
  line-height: 20px;
}

.filter__input {
  width: 70px;
  display: inline;
  padding: 0;
  font: inherit;
  line-height: inherit;
  text-align: left;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.filter__input::-webkit-outer-spin-button,
.filter__input::-webkit-inner-spin-button{
  display: none;
}

/*filter-color*/

.filter__item {
  position: relative;
  display: block;
  padding-left: 36px;
  line-height: 20px;
}

.filter__item:hover {
  opacity: 0.6;
}

.filter__label--price {
  margin-left: -15px;
  font-size: 14px;
}

.filter__mark {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 3px;
  left: 0;
}

.filter__checkbox:checked + .filter__mark,
.filter__radio:checked + .filter__mark {
  border: 2px solid #000000;
}

.filter__item:focus-within .filter__mark::after{
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 2px #af4fff;
}

.filter__item:active {
  opacity: 0.3;
}

.filter__mark--checkbox{
  border-radius: 3px;
}

.filter__checkbox:checked + .filter__mark--checkbox::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../image/icons/check-mark.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.filter__item--disabled {
  opacity: 0.1;
  pointer-events: none;
}

/*filter-bluetooth*/

.filter__mark--radio {
  border-radius: 50%;
}

.filter__radio:checked + .filter__mark--radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

/*sort*/

.sort {
  background-color: #f0f0f0;
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.sort__title {
  font-family: 'Raleway', Verdana, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sort__select {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  border: none;
  background-color: inherit;
  margin-top: 0;
  margin-left: -10px;
  padding-right: 8px;
}

.sort__select:hover {
  opacity: 0.6;
}

.sort__select:focus {
  opacity: 1;
  outline: none;
  box-shadow: 0 0 0 2px #af4fff;
}

.sort__select:active {
  box-shadow: none;
  opacity: 0.3;
}

.sort__form {
  display: flex;
}

.sort__buttons {
  display: flex;
}

.sort__button {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  opacity: 0.2;
}

.sort__button::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.sort__button--asc::after {
  border-top: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
  bottom: 10px;
}

.sort__button--desc::after {
  border-top: 10px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 0;
  top: 10px;
}

.sort__button:hover {
  opacity: 0.5;
}

.sort__button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #af4fff;
  opacity: 0.2;
}

.sort__button:active {
  opacity: 1;
  box-shadow: none;
}

/*products*/

.products {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 45px;
  padding: 70px 40px 77px;
  background-color: #ffffff;
}

.product {
  display: grid;
  grid-template-columns: 65% 30%;
  column-gap: 5%;
  row-gap: 32px;
  position: relative;
}

.product--new {
  position: relative;
}

.product--new::after {
  content: "New";
  position: absolute;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  font-family: 'Raleway', Verdana, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.product__link {
  text-decoration: none;
}

.product__link--img {
  grid-column: 1/3;
}

.product__link--title {
  grid-column: 1/2;
}

.product__img {
  display: block;
}

.product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.product__price {
  line-height: 21px;
  grid-column: 2/3;
  margin-top: 0;
  margin-bottom: 0;
  justify-self: end;
}

.product__button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product:hover .product__button{
  display: block;
}

.product:hover .product__link{
  opacity: 0.6;
}

.product:hover .product__price{
  opacity: 0.6;
}

.product:hover::after{
  opacity: 0.6;
}

.product:focus-within {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff,
              0 0 0 4px #af4fff;
}

.product:focus-within .product__button {
  display: none;
}

.product:active {
  box-shadow: none;
}

.product:active .product__button {
  display: block;
}

.product:active .product__link{
  opacity: 0.3;
}

.product:active .product__price{
  opacity: 0.3;
}

.product:active::after{
  opacity: 0.3;
}

.products__more {
  font-family: 'Raleway', Verdana, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  grid-column: 1/3;
  justify-content: center;
  align-items: center;
  padding: 15px 39px;
  border: 3px solid #e5e5e5;
  margin-top: -2px;
}

.products__more:hover {
  border: 3px solid #000000;
}

.products__more:focus {
  border: 3px solid #e5e5e5;
  box-shadow: 0 0 0 2px #ffffff,
              0 0 0 4px #af4fff;
  outline: none;
}

.products__more:active {
  opacity: 0.3;
  border: 3px solid #000000;
  box-shadow: none;
}

.products__more--disabled {
  opacity: 0.3;
  border: 3px solid #e5e5e5;
  pointer-events: none;
}

/*pagination*/

.pagination {
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
}

.pagination__pages {
  display: flex;
}

.pagination__link {
  text-decoration: none;
  display: block;
}

.pagination__link--page {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
  padding: 10px 15px;
}

.pagination__link--page:hover {
  opacity: 1;
}

.pagination__link--page:focus {
  opacity: 0.3;
  outline: none;
  box-shadow: 0 0 0 2px #af4fff;
}

.pagination__link--page:active {
  opacity: 0.1;
  box-shadow: none;
}

.pagination__link--current {
  opacity: 0.6;
}

.pagination__link--button {
  font-family: 'Raleway', Verdana, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding: 25px;
}

.pagination__link--button:hover {
  background-color: #dcdcdc;
}

.pagination__link--button:focus {
  background-color: #ebebeb;
  outline: none;
  box-shadow: 0 0 0 2px #ffffff,
              0 0 0 4px #af4fff;
}

.pagination__link--button:active {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: none;
}

.pagination__link--disabled {
  color: #444444;
  opacity: 0.3;
  pointer-events: none;
}

/*modal*/

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.9);
  z-index: 99;
}

.modal--closed {
  display: none;
}

.modal__wrapper {
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 62px 70px;
  width: 920px;
  gap: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__close {
  display: block;
  position: absolute;
  top: 70px;
  right: 70px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.modal__cross {
  display: block;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__close:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff,
              0 0 0 4px #af4fff;
}

.modal__close:active {
  opacity: 0.6;
  outline: none;
}

.modal__title {
  margin-top: 0;: 0;
  margin-bottom: 0;: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.modal__row {
  display: flex;
  gap: 45px;
  justify-content: space-between;
}

.modal__item {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.modal__item--name,
.modal__item--email,
.modal__item--message{
  flex-grow: 1;
}

.modal__item--count {
  width: 180px;
}

.modal__count-box {
  display: flex;
}

.modal__count-box:has(.modal__input--count:invalid) {
  outline: 2px solid #ff3d3d;
}

.modal__label {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 14px;
}

.modal__input {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  border: none;
  background-color: #f0f0f0;
  padding: 20px;
}

.modal__button {
  width: 60px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.modal__input--count {
  display: block;
  width: 60px;
  text-align: center;
  appearance: textfield;
}

.modal__input--count::-webkit-inner-spin-button,
.modal__input--count::-webkit-outer-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.modal__input::placeholder {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.3;
}

.modal__caption {
  font-size: 14px;
  line-height: 20px;
  margin-top: 2px;
  margin-bottom: 0;
}

.modal__icon {
  display: block;
  position: absolute;
  bottom: 44px;
  right: 20px;
}

.modal__submit {
  align-self: start;
  min-width: 200px;
  background-color: transparent;
  z-index: 1;
}

.modal__input:hover {
  background-color: #dcdcdc;
}

.modal__input:focus {
  background-color: #f0f0f0;
  outline: none;
  box-shadow: 0 0 0 2px #ffffff,
  0 0 0 4px #af4fff;
}

.modal__input:invalid {
  background-color: #f0f0f0;
  outline: none;
  box-shadow: 0 0 0 2px #ffffff,
  0 0 0 4px #ff3d3d;
}

.modal__input--count:invalid {
  box-shadow: none;
}

.modal__input:invalid + .modal__caption {
  color: #ff3d3d;
}

.modal__input:placeholder-shown {
  box-shadow: none;
}

.modal__input:placeholder-shown:hover {
  background-color: #dcdcdc;
}

.modal__input:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.modal__input:disabled ~ .modal__icon {
  opacity: 0.3;
}

/*tooltip*/

.tooltip {
  position: absolute;
}

.tooltip-toggle {
  border: none;
  background-color: #ffe17f;
  border-radius: 50%;
  padding: 0;
  margin-top: 2px;
  margin-left: 8px;
  display: flex;
  width: 26px;
  height: 26px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tooltip-icon {
  width: 2px;
  height: 12px;
  color: #242424;
  display: block;
}

.tooltip-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  display: none;
  width: 200px;
  position: absolute;
  top: 39px;
  left: -132px;
  padding: 18px;
  z-index: 1;
  background: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.tooltip-text::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #000000;
  right: 20%;
  top: -6px;
  transform: rotate(45deg);
  border-top: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 6px solid black;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
